<div class="sphere">
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	<div class="meridian"></div>
	
	<div class="latitude"></div>
	<div class="latitude"></div>
	<div class="latitude"></div>
	<div class="latitude"></div>
	<div class="latitude"></div>
	<div class="latitude"></div>
	<div class="latitude"></div>
	<div class="latitude"></div>
	<div class="latitude"></div>
	<div class="latitude"></div>
	<div class="latitude"></div>
	<div class="latitude"></div>
	<div class="latitude"></div>
	
	<div class="axis"></div>
	<div class="axis"></div>
</div>