.sphere {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  border-radius: 100%;
  transform-style: preserve-3d;
  animation: rotate 8s linear infinite;
  position: relative;
}
.sphere .meridian {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  transform-style: preserve-3d;
  box-shadow: inset 0 0 8px rgba(0, 0, 255, 0.05);
}
.sphere .meridian:nth-child(1) {
  transform: rotateX(10deg);
}
.sphere .meridian:nth-child(2) {
  transform: rotateX(20deg);
}
.sphere .meridian:nth-child(3) {
  transform: rotateX(30deg);
}
.sphere .meridian:nth-child(4) {
  transform: rotateX(40deg);
}
.sphere .meridian:nth-child(5) {
  transform: rotateX(50deg);
}
.sphere .meridian:nth-child(6) {
  transform: rotateX(60deg);
}
.sphere .meridian:nth-child(7) {
  transform: rotateX(70deg);
}
.sphere .meridian:nth-child(8) {
  transform: rotateX(80deg);
}
.sphere .meridian:nth-child(9) {
  transform: rotateX(90deg);
}
.sphere .meridian:nth-child(10) {
  transform: rotateX(100deg);
}
.sphere .meridian:nth-child(11) {
  transform: rotateX(110deg);
}
.sphere .meridian:nth-child(12) {
  transform: rotateX(120deg);
}
.sphere .meridian:nth-child(13) {
  transform: rotateX(130deg);
}
.sphere .meridian:nth-child(14) {
  transform: rotateX(140deg);
}
.sphere .meridian:nth-child(15) {
  transform: rotateX(150deg);
}
.sphere .meridian:nth-child(16) {
  transform: rotateX(160deg);
}
.sphere .meridian:nth-child(17) {
  transform: rotateX(170deg);
}
.sphere .meridian:nth-child(18) {
  transform: rotateX(180deg);
}
.sphere .meridian:nth-child(19) {
  transform: rotateX(190deg);
}
.sphere .meridian:nth-child(20) {
  transform: rotateX(200deg);
}
.sphere .meridian:nth-child(21) {
  transform: rotateX(210deg);
}
.sphere .meridian:nth-child(22) {
  transform: rotateX(220deg);
}
.sphere .meridian:nth-child(23) {
  transform: rotateX(230deg);
}
.sphere .meridian:nth-child(24) {
  transform: rotateX(240deg);
}
.sphere .meridian:nth-child(25) {
  transform: rotateX(250deg);
}
.sphere .meridian:nth-child(26) {
  transform: rotateX(260deg);
}
.sphere .meridian:nth-child(27) {
  transform: rotateX(270deg);
}
.sphere .meridian:nth-child(28) {
  transform: rotateX(280deg);
}
.sphere .meridian:nth-child(29) {
  transform: rotateX(290deg);
}
.sphere .meridian:nth-child(30) {
  transform: rotateX(300deg);
}
.sphere .meridian:nth-child(31) {
  transform: rotateX(310deg);
}
.sphere .meridian:nth-child(32) {
  transform: rotateX(320deg);
}
.sphere .meridian:nth-child(33) {
  transform: rotateX(330deg);
}
.sphere .meridian:nth-child(34) {
  transform: rotateX(340deg);
}
.sphere .meridian:nth-child(35) {
  transform: rotateX(350deg);
}
.sphere .meridian:nth-child(36) {
  transform: rotateX(360deg);
}
.sphere .latitude {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  transform: rotateY(90deg);
  border-radius: 100%;
  box-shadow: inset 0 0 5px rgba(0, 128, 0, 0.3);
}
.sphere .latitude:nth-child(37) {
  width: 296px;
  height: 296px;
  top: 2px;
  left: 2px;
  transform: rotateY(90deg) translateZ(-25px);
}
.sphere .latitude:nth-child(38) {
  width: 280px;
  height: 280px;
  top: 10px;
  left: 10px;
  transform: rotateY(90deg) translateZ(-50px);
}
.sphere .latitude:nth-child(39) {
  width: 260px;
  height: 260px;
  top: 20px;
  left: 20px;
  transform: rotateY(90deg) translateZ(-75px);
}
.sphere .latitude:nth-child(40) {
  width: 220px;
  height: 220px;
  top: 40px;
  left: 40px;
  transform: rotateY(90deg) translateZ(-100px);
}
.sphere .latitude:nth-child(41) {
  width: 160px;
  height: 160px;
  top: 70px;
  left: 70px;
  transform: rotateY(90deg) translateZ(-125px);
}
.sphere .latitude:nth-child(42) {
  width: 20px;
  height: 20px;
  top: 140px;
  left: 140px;
  border: 10px solid black;
  transform: rotateY(90deg) translateZ(-150px);
}
.sphere .latitude:nth-child(43) {
  width: 296px;
  height: 296px;
  top: 2px;
  left: 2px;
  transform: rotateY(90deg) translateZ(25px);
}
.sphere .latitude:nth-child(44) {
  width: 280px;
  height: 280px;
  top: 10px;
  left: 10px;
  transform: rotateY(90deg) translateZ(50px);
}
.sphere .latitude:nth-child(45) {
  width: 260px;
  height: 260px;
  top: 20px;
  left: 20px;
  transform: rotateY(90deg) translateZ(75px);
}
.sphere .latitude:nth-child(46) {
  width: 220px;
  height: 220px;
  top: 40px;
  left: 40px;
  transform: rotateY(90deg) translateZ(100px);
}
.sphere .latitude:nth-child(47) {
  width: 160px;
  height: 160px;
  top: 70px;
  left: 70px;
  transform: rotateY(90deg) translateZ(125px);
}
.sphere .latitude:nth-child(48) {
  width: 20px;
  height: 20px;
  top: 140px;
  left: 140px;
  transform: rotateY(90deg) translateZ(150px);
  border: 10px solid black;
}
.sphere .axis {
  position: absolute;
  width: calc(300px + 300px);
  height: 2px;
  top: calc(50% - 1px);
  background: linear-gradient(to left, transparent, black, transparent);
}
.sphere .axis + .axis {
  transform: rotateX(90deg);
}
@keyframes rotate {
  0% {
    transform: rotateX(30deg) rotateY(0deg) rotateZ(80deg);
  }
  100% {
    transform: rotateX(30deg) rotateY(360deg) rotateZ(80deg);
  }
}
@keyframes border-color-pulse {
  0% {
    border-color: red;
  }
  100% {
    border-color: black;
  }
}