<div class="grid grid-nogutter w-full h-full gap-4">
    <p-card header="Resume Highlights" class="col-12 xl:col-3">

        @if (resumeLoading) {
        <div>
            <p-skeleton class="mb-2" />
            <p-skeleton width="10rem" class="mb-2" />
            <p-skeleton width="5rem" class="mb-2" />
            <p-skeleton height="2rem" class="mb-2" />
        </div>
        }@else{
        <p class="mb-3 mt-3">
            Last Updated: {{resumeDetails?.lastUpdated}}
        </p>
        <p class="mb-3">
            <a href="{{resumeDetails?.resumeUrl}}" target="_blank" rel="noopener noreferrer"><p-chip
                    label="{{resumeDetails?.resumeName}}" /></a>
        </p>
        <p-fileupload name="resume[]" (onSelect)="onUpload($event)" [multiple]="false" accept=".pdf" mode="basic"
            maxFileSize="26214400">
        </p-fileupload>
        }
    </p-card>

    <p-card header="Recommended Jobs" class="col-12 xl:col-8">
        <p-accordion value="0" class="flex flex-column gap-3">
            @if (jobsLoading) {
            <div>
                <p-skeleton class="mb-2" />
                <p-skeleton width="10rem" class="mb-2" />
                <p-skeleton width="5rem" class="mb-2" />
                <p-skeleton height="2rem" class="mb-2" />
            </div>
            }@else {
            @for (item of jobs; track $index) {
            <div class="mt-3">
                <p-chip label="{{item.jobTitle}} - {{fDt(item.jobPostedDateTime.toString())}}" (click)="showJobDialog(item)" [style]="{ cursor: 'pointer' }"/>
            </div>
            }
            }
        </p-accordion>
    </p-card>

    <!-- Job Dialog -->
    <p-dialog header="{{selectedJob?.jobTitle}}" [modal]="true" [(visible)]="visibleJobDialog" [style]="{ width: '50%' }">
        <div class="mb-4 flex flex-column gap-3" style="white-space: pre-line;">
            <p class="text-2xl font-bold">Company Details</p>
            <p>{{selectedJob?.companyDetails}}</p>
        </div>
        <div class="mb-4 flex flex-column gap-3" style="white-space: pre-line;">
            <p class="text-2xl font-bold">Responsibilities</p>
            <p>{{selectedJob?.responsibilities}}</p>
        </div>
        <div class="mb-4 flex flex-column gap-3" style="white-space: pre-line;">
            <p class="text-2xl font-bold">Qualifications</p>
            <p>{{selectedJob?.qualifications}}</p>
        </div>
        <div class="mb-4 flex flex-column gap-3" style="white-space: pre-line;">
            <p class="text-2xl font-bold">Nice To Have</p>
            <p>{{selectedJob?.niceToHave}}</p>
        </div>
        <div class="mb-4 flex flex-column gap-3" style="white-space: pre-line;">
            <p-button label="Apply"/>
        </div>
    </p-dialog>
</div>